<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tvt.math">

    <application
        android:allowBackup="true"
        android:name=".BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".three.MathThreeActivity" />
        <activity android:name=".four.MathFourActivity" />
        <activity android:name=".five.MathFiveActivity" />
        <activity android:name=".six.MathSixActivity" />
        <activity android:name=".seven.MathSevenActivity" />
        <activity android:name=".eight.MathEightActivity" />
        <activity android:name=".nine.MathNineActivity" />
        <activity android:name=".ten.MathTenActivity" />
        <activity android:name=".m11.Math11Activity" />
        <activity android:name=".m12.Math12Activity" />
        <activity android:name=".m13.Math13Activity" />
        <activity android:name=".m14.MathT14Activity" />
        <activity android:name=".m15.Math15Activity" />
    </application>

</manifest>